# Byte-compiled / optimized / DLL files
__pycache__/

*/.ipynb_checkpoints/

.vscode/

# telegram
*.session
*.session-journal
*.log

test.py

# pycharm
.DS_Store
.idea

src/config_test.py
src/config.py
src/data

