[FORMAT]

# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,x,y,df,c,X,f,ls,v,d,ch

[MESSAGES CONTROL]

disable=
    too-few-public-methods,
    missing-docstring,
    star-args,
    consider-using-f-string,
    import-error,
    missing-function-docstring,
    logging-fstring-interpolation,
    invalid-names,
    wrong-import-order,
    wrong-import-position,
    import-outside-toplevel,
    invalid-name,
    unspecified-encoding,
    use-dict-literal,
    unused-import,
    bare-except,  # remove this later
    redefined-outer-name, # to return later
    ungrouped-imports,  # return later
    anomalous-backslash-in-string  # return later

enable=
    #classes,
    design,
    #exceptions,
    #format,
    #logging,
    #method_args,
    #typecheck,
    #string,
    refactoring,
    similarities,
    #variables


[DESIGN]

max-args=7
max-locals=20


[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=1

# Ignore comments when computing similarities.
ignore-comments=no

# Ignore docstrings when computing similarities.
ignore-docstrings=no

# Ignore imports when computing similarities.
ignore-imports=no

# Signatures are removed from the similarity computation
ignore-signatures=no