[FORMAT]

# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,x,y,df,c,X,f,ls,v,d,ch

[MESSAGES CONTROL]

disable=
    too-few-public-methods,
    missing-docstring,
    star-args,
    consider-using-f-string,
    import-error,
    missing-function-docstring,
    logging-fstring-interpolation,
    bare-except,  # remove this later
    invalid-names,
    wrong-import-order,
    wrong-import-position,
    redefined-outer-name, # to return later
    import-outside-toplevel,
    ungrouped-imports,  # return later
    invalid-name,
    unspecified-encoding,
    use-dict-literal,
    unused-import